.catalogItem {
    display: grid;
    grid-template-columns: 42.7rem auto;
    grid-template-rows: 100%;

    @include mobile {
        grid-template-columns: 100%;
        grid-template-rows: 46rem auto;
        gap: 3.2rem;
        padding: 3.2rem;
        background-color: var(--col-white);
    }

    @include hover {
        & .catalogItem__img {
            border-color: var(--col-orange);
        }

        & .catalogItem__data {
            border-color: var(--col-orange);

        }
    }

    &__img {
        height: 35rem;
        width: 100%;
        padding: 1.6rem;
        background-color: var(--col-white);
        border: 1px solid transparent;
        transition: border-color .1s ease-in-out;

        @include desktop {
            position: relative;
            z-index: 4;
        }

        @include mobile {
            height: 100%;
            padding: 0;
        }

        & .swiper-pag {
            position: absolute;
            z-index: 5;
            bottom: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }

        & .swiper-slide {
            display: flex;

            & img {
                object-fit: cover;
                object-position: center;
            }
        }

    }

    &__data {
        background-color: var(--col-white);
        padding: 3.2rem;
        align-self: flex-end;
        display: grid;
        grid-template-columns: auto auto;
        gap: 4.6rem 3rem;

        @include desktop {
            border: 1px solid transparent;
            transition: border-color .1s ease-in-out;
            border-left: none;
            transform: translateX(-1px);
            position: relative;
            z-index: 5;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            padding: 0;
        }

        &-name {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-self: flex-start;

            &>a {
                @include hover {
                    cursor: pointer;
                    color: var(--col-orange);
                }
            }

            @include mobile {
                gap: 3.2rem;
            }
        }

        &-price {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-self: flex-start;
            justify-self: flex-end;

            @include mobile {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &-stats {
            display: flex;
            flex-wrap: wrap;
            gap: 4rem;

            @include mobile {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 5px;
            }

            @include desktop {
                grid-column: 1 / span 2;
            }

            &-el {
                display: flex;
                flex-shrink: 0;
                flex-wrap: nowrap;
                white-space: nowrap;
                align-items: center;

                @include mobile {
                    background-color: var(--col-grey);
                    padding: 8px;

                }


                & img , & svg {
                    width: 2.4rem;
                    height: 2.4rem;
                    margin-right: 8px;
                   
                    /* @include desktop{
                        filter: grayscale(1);
                    } */

                    @include mobile {
                        width: 4.8rem;
                        height: 4.8rem;
                        margin-right: auto;
                    }
                }
            }
        }

        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @include mobile {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 3rem;
            }

            @include desktop {
                grid-column: 1 / span 2;
            }

            &-tag {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;

                &-el {
                    padding: 1.25rem 1.6rem 1.35rem;
                    border: 1px solid var(--col-grey200);
                    border-radius: 3rem;
                }
            }
        }

    }
}

.catalogItemFirst {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;



    @include mobile {
        background-color: var(--col-white);
        background-image: $bg;
        grid-template-rows: min-content 8rem 0fr;
        transition: grid .5s ease-in-out;
        padding-bottom: 4rem;

        &._opened {
            grid-template-rows: min-content 0rem 1fr;
        }
    }

    @include hover {
        & .catalogItemFirst__top-data {
            border-color: var(--col-orange);
        }

        & .catalogItemFirst__top-img {
            border-color: var(--col-orange);
        }

        & .catalogItemFirst__list {
            border-color: var(--col-orange);
        }
    }


    &__top {
        display: grid;
        grid-template-columns: 23.2rem auto;
        grid-template-rows: 100%;
        gap: 0;


        @include mobile {

            grid-template-columns: 100%;
            grid-template-rows: 46rem auto;
            gap: 3.2rem;
            padding: 4.8rem 3.2rem 4.8rem;
        }


        &-img {
            border: 1px solid transparent;
            transition: border-color .1s ease-in-out;
            border-bottom: none;
            height: 25rem;
            width: 100%;
            position: relative;
            z-index: 4;
            padding: 1.6rem;
            @include desktop{
                background-color: var(--col-white);
                background-image: $bg;
            }

            @include mobile {
                height: 100%;
                padding: 0;
            }

            & .swiper-pag {
                position: absolute;
                z-index: 5;
                bottom: 2rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &-data {
            @include desktop{
                background-color: var(--col-white);
                background-image: $bg;
            }
            align-self: flex-end;
            min-height: 20rem;
            display: flex;
            flex-direction: column;
            padding: 3.2rem 3.2rem 0 1.6rem;
            gap: 1rem;

            @include desktop {
                border: 1px solid transparent;
                transition: border-color .1s ease-in-out;
                border-bottom: none;
                border-left: none;
                transform: translateX(-1px);
                position: relative;
                z-index: 5;
            }

            @include mobile {

                padding: 0;
                gap: 12px;
            }

            &-footer {
                margin-top: auto;
                display: flex;
                flex-wrap: wrap;
                gap: 4.4rem;
                align-items: center;
                border-top: 1px solid var(--col-grey200);
                border-bottom: 1px solid var(--col-grey200);
                padding: 1.5rem 0;

                @include mobile {
                    padding: 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 4rem;
                    margin-top: 2rem;
                    border: none;
                }

                & .btn-link {
                    margin-left: auto;
                }
            }
        }
    }

    &__opener {
        @include mobile {
            width: 100%;
            display: flex;
            justify-content: center;
            height: 100%;
            overflow: hidden;
        }
    }

    &__list {
        @include desktop{
            background-color: var(--col-white);
            background-image: $bg;
        }
        overflow: hidden;


        @include desktop {
            border: 1px solid transparent;
            transition: border-color .1s ease-in-out;
            border-top: none;
            padding-top: 6.8rem;
            width: calc(100% - 1px);
        }

        &-sort {
            width: 100%;
            display: grid;
            grid-template-columns: 20rem auto;
            gap: 3.2rem;
            align-items: center;
            padding: 0 1.6rem;
            position: relative;
            z-index: 5;

            &-dd {
                @include mobile {
                    position: relative;
                    width: fit-content;
                    justify-self: flex-end;
                    min-width: 28rem;

                    &._opened {
                        & .catalogItemFirst__list-sort-dd-t::before {
                            transform: rotate(225deg) ;
                        }

                        & .catalogItemFirst__list-sort-dd-l {
                            visibility: visible;
                            display: block;

                        }
                    }


                    &-t {

                        width: 100%;
                        display: flex;
                        gap: 4px;
                        align-items: center;
                        filter: grayscale(1);
                        flex-shrink: 0;
                        white-space: nowrap;
                        cursor: pointer;
                        user-select: none;
                        position: relative;
                        color: var(--col-grey200);
                        padding: 1.6rem 3rem 1.6rem 1.6rem;
                        justify-content: center;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 5;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            top: 35%;
                            right: 0;
                            border-right: 1px solid var(--col-black);
                            border-bottom: 1px solid var(--col-black);
                            transform: rotate(45deg) ;
                        }

                        &._active {
                            filter: grayscale(0);
                            color: var(--col-black);
                        }

                        &._fromMin {
                            &>.catalogItemFirst__list-sort-dd-list-e-icon {
                                transform: scale(1, -1);
                            }
                        }

                        &-icon {
                            width: 16px;
                            height: 16px;
                            background-image: url(../assets/images/icons/sprites.svg#sorting);
                            background-size: contain;
                            background-position: 50% 3px;
                            background-repeat: no-repeat;

                        }
                    }


                }


                &-l {
                    overflow: hidden;

                    @include mobile {

                        position: absolute;
                        top: 100%;
                        left: 0;
                        display: none;
                        visibility: hidden;
                        width: 100%;


                    }

                    &ist {
                        display: grid;
                        grid-template-rows: 100%;
                        grid-template-columns: repeat(5, min-content);
                        gap: 2rem;
                        justify-content: space-between;
                        padding: 1.2rem 0;
                        border-top: 1px solid var(--col-grey200);
                        border-bottom: 1px solid var(--col-grey200);

                        @include mobile {
                            grid-template-columns: 100%;
                            grid-template-rows: unset;
                            background-color: rgba(227, 226, 226, 1);
                            border: none;
                            padding: 1.6rem;
                            gap: 2rem;
                            width: 100%;
                        }

                        &-e {
                            width: 100%;
                            display: flex;
                            gap: 4px;
                            align-items: center;
                            filter: grayscale(1);
                            flex-shrink: 0;
                            white-space: nowrap;
                            cursor: pointer;
                            user-select: none;
                            position: relative;
                            color: var(--col-grey200);

                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 5;
                            }

                            &._active {
                                filter: grayscale(0);
                                color: var(--col-black);
                            }

                            &._fromMin {
                                &>.catalogItemFirst__list-sort-dd-list-e-icon {
                                    transform: scale(1, -1);
                                }
                            }

                            &-icon {
                                width: 16px;
                                height: 16px;
                                background-image: url(../assets/images/icons/sprites.svg#sorting);
                                background-size: contain;
                                background-position: 50% 3px;
                                background-repeat: no-repeat;

                            }
                        }
                    }
                }



            }

        }

        &-items {
            margin-top: 2rem;
        }

        &-ctrls {

            padding: 2rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mobile {
                padding: 4rem 2.4rem;
            }

            &-loadmore {
                padding-left: 2.5rem;
                position: relative;

                @include mobile {
                    padding-left: 5rem;

                }

                &::after {
                    content: '';
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 0;
                    width: 1.5rem;
                    height: 1px;
                    background-color: var(--col-orange);
                    transform: rotate(90deg);

                    @include mobile {
                        width: 3rem;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 0;
                    width: 1.5rem;
                    height: 1px;
                    background-color: var(--col-orange);

                    @include mobile {
                        width: 3rem;
                    }
                }
            }

        }
    }
}

.catalogItemFirstCurrent {

    padding: 2rem;
    display: grid;
    grid-template-columns: 20rem auto min-content;
    gap: 3.2rem;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'img top price'
        'img stats price'
        'img tags link';
    position: relative;

    @include mobile {
        grid-template-columns: 26rem auto;
        grid-template-rows: unset;
        grid-auto-rows: auto;
        gap: 16px 0;
        grid-template-areas:
            'img top'
            'img price'
            'stats stats'
            'tags tags'
            'link link';

    }

    @include hover {}

    &::after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 2rem;
        width: calc(100% - 4rem);
        height: 1px;
        background-color: var(--col-grey200);
    }

    &__img {
        grid-area: img;
        display: flex;
        width: 100%;
        height: 20rem;

        @include mobile {
            height: 26rem;
        }

        & img {
            object-fit: contain;
            object-position: center;
        }
    }

    &__top {
        grid-area: top;
        display: flex;
        flex-direction: column;
        gap: 8px;

        &>a:hover {
            color: var(--col-orange);
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }
    }

    &__price {
        grid-area: price;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-self: flex-end;
        align-self: flex-start;
    }

    & .catalogItem__data-stats {
        grid-area: stats;
    }

    & .catalogItem__data-footer-tag {
        grid-area: tags;
    }

    & .btn-link {
        grid-area: link;
    }


}