<li class="catalogItem">
    <div class="catalogItem__img catalogItemSwiper swiper">
        <div class="swiper-pag _bullets _white">

        </div>

        <ul class="swiper-wrapper">
            <li class="swiper-slide" data-fancybox="someItemName_1488"
                href="./assets/images/aboutGrid-1.png">
                <img src="./assets/images/aboutGrid-1.png" alt="">
            </li>
            <li class="swiper-slide" data-fancybox="someItemName_1488"
                href="./assets/images/aboutGrid-2.png">
                <img src="./assets/images/aboutGrid-2.png" alt="">
            </li>
            <li class="swiper-slide" data-fancybox="someItemName_1488"
                href="./assets/images/aboutGrid-3.png">
                <img src="./assets/images/aboutGrid-3.png" alt="">
            </li>
        </ul>

    </div>
    <div class="catalogItem__data">
        <div class="catalogItem__data-name">
            <a href="#" class="tl3">Lorem ipsum dolor sit amet consectetur adipisicing elit.
             </a>
            <p class="txt16">Lorem ipsum dolor sit amet consectetur adipisicing elit.
               
            </p>
        </div>
        <div class="catalogItem__data-price">
            <p class="tl3">1 111 111 111 <sub>₽</sub></p>
            <p class="txt16 col-grey200">12345 тыс ₽ / м<sup>2</sup> </p>
        </div>
        <ul class="catalogItem__data-stats txt16">
            <li class="catalogItem__data-stats-el">
                <svg>
                    <use xlink:href="assets/images/icons/sprites.svg#bath"/>
                </svg>
                <span> 322m<sup>2</sup></span>
            </li>
            <li class="catalogItem__data-stats-el">
                <svg>
                    <use xlink:href="assets/images/icons/sprites.svg#bed"/>
                </svg>
                <span> 322m<sup>2</sup></span>
            </li>
            <li class="catalogItem__data-stats-el">
                <svg>
                    <use xlink:href="assets/images/icons/sprites.svg#power"/>
                </svg>
                <span> 322m<sup>2</sup></span>
            </li>
            <li class="catalogItem__data-stats-el">
                <svg>
                    <use xlink:href="assets/images/icons/sprites.svg#floor"/>
                </svg>
                <span> 1 <span class="col-grey200">/ 43 </span> этаж</span>
            </li>
        </ul>
        <div class="catalogItem__data-footer">
            <ul class="catalogItem__data-footer-tag txt13">
                <li class="catalogItem__data-footer-tag-el">
                    открытая планировка
                </li>
               
            </ul>

            <a href="#" class="btn-link _arrow">
                <span>
                    Подробнее
                </span>
            </a>

        </div>
    </div>
</li>