<section class="catalogDetailMap">
    <div class=" catalogDetailMap__c">

        <div class="catalogDetailMap__c-top container">
            <p class="tl1 catalogDetailMap__c-top-heading">Расположение</p>
            <p class=" txt15 col-orange txt-up catalogDetailMap__c-top-location">Большой Смоленский пр, 6
            </p>
            <p class="txt20">
                Локация имеет богатую инфраструктуру, в пешей доступности Петропавловская крепость,
                Ленинградский зоопарк, Планетарий
                и другие достопримечательности
            </p>
            <p class="txt20">
                Такое расположение обеспечивает современную социальную
                и транспортную инфраструктуру
                в шаге от дома и неразрывную связь
                с историей города
            </p>
        </div>

        <div class="catalogDetailMap__c-map">
            <ul class="catalogDetailMap__c-map-info">
                <li class="catalogDetailMap__c-map-info-el">
                    <svg>
                        <use xlink:href="assets/images/icons/sprites.svg#man"/>
                    </svg>
                    <p class="txt40"> 10 <span class="tl3"> min</span></p>
                    <p class="txt16 col-grey200">до ст. Спортивная</p>
                </li>
                <li class="catalogDetailMap__c-map-info-el">
                    <svg>
                        <use xlink:href="assets/images/icons/sprites.svg#car"/>
                    </svg>
                    <p class="txt40"> 10 <span class="tl3"> min</span></p>
                    <p class="txt16 col-grey200">до центра города</p>
                </li>
                <li class="catalogDetailMap__c-map-info-el">
                    <svg>
                        <use xlink:href="assets/images/icons/sprites.svg#man"/>
                    </svg>
                    <p class="txt40"> 10 <span class="tl3"> min</span></p>
                    <p class="txt16 col-grey200">до аэропорта Пулково</p>
                </li>
                <li class="catalogDetailMap__c-map-info-el">
                    <svg>
                        <use xlink:href="assets/images/icons/sprites.svg#car"/>
                    </svg>
                    <p class="txt40"> 10 <span class="tl3"> min</span></p>
                    <p class="txt16 col-grey200">до Витебского вокзала</p>
                </li>
            </ul>
            <div class="ui-map-grey catalogDetailMap__c-map-self" id="map"></div>
        </div>
    </div>
</section>