<li class="catalogItemFirst dd-container">
    <div class="catalogItemFirst__top">
        <div class="catalogItemFirst__top-img catalogItemSwiper swiper">
            <div class="swiper-pag _bullets _white">

            </div>

            <ul class="swiper-wrapper">
                <li class="swiper-slide" data-fancybox="someItemName_228"
                    href="./assets/images/aboutGrid-1.png">
                    <img src="./assets/images/aboutGrid-1.png" alt="">
                </li>
                <li class="swiper-slide" data-fancybox="someItemName_228"
                    href="./assets/images/aboutGrid-2.png">
                    <img src="./assets/images/aboutGrid-2.png" alt="">
                </li>
                <li class="swiper-slide" data-fancybox="someItemName_228"
                    href="./assets/images/aboutGrid-3.png">
                    <img src="./assets/images/aboutGrid-3.png" alt="">
                </li>
            </ul>

        </div>
        <div class="catalogItemFirst__top-data">
            <p class="tl2">ttl</p>
            <p class="txt16">place</p>
            <div class="catalogItemFirst__top-data-footer">
                <span class="txt13">от 228 тыс ₽ <span class="col-grey200">/M<sup>2</sup></span>
                </span>
                <span class="txt13">от 228 тыс ₽ <span class="col-grey200">/M<sup>2</sup>
                    </span>
                </span>
                <span class="txt13">от 228 тыс ₽ <span class="col-grey200">/M<sup>2</sup>
                    </span>
                </span>

                <button class="btn-link _arrow">
                    <span>
                        о проекте
                    </span>
                </button>

            </div>
        </div>
    </div>
    <div class="catalogItemFirst__opener">
        <button class="btn-primary dd-target mobile">
            <span class="btn-primary__text">
                показать
            </span>
            <span class="btn-primary__text">
                3 варианта
            </span>
            <span class="btn-primary__icon _down">
            </span>
        </button>
    </div>
    <div class="catalogItemFirst__list">
        <div class="catalogItemFirst__list-sort">
            <span class="txt13 txt-up col-grey200">сортировать по</span>
            <ul class="catalogItemFirst__list-sort-list">
                <li class="dd-container dd-filter desktop">
                    <input class="dd-target select-input dd-filter__target" type="text"
                        readonly="" value="цене">
                    <div class="dd-filter__wrp">
                        <div class="dd-filter__wrp-list">

                            <button class="dd-filter__wrp-list-el select-value _checked">
                                кол-во комнат
                            </button>
                            <button class="dd-filter__wrp-list-el select-value">
                                площади
                            </button>
                        </div>
                    </div>
                </li>
                <li class="dd-container dd-filter desktop">
                    <input class="dd-target select-input dd-filter__target" type="text"
                        readonly="" value="цене">
                    <div class="dd-filter__wrp">
                        <div class="dd-filter__wrp-list">

                            <button class="dd-filter__wrp-list-el select-value _checked">
                                кол-во комнат
                            </button>
                            <button class="dd-filter__wrp-list-el select-value">
                                площади
                            </button>
                        </div>
                    </div>
                </li>
                <li class="dd-container dd-filter desktop">
                    <input class="dd-target select-input dd-filter__target" type="text"
                        readonly="" value="цене">
                    <div class="dd-filter__wrp">
                        <div class="dd-filter__wrp-list">

                            <button class="dd-filter__wrp-list-el select-value _checked">
                                кол-во комнат
                            </button>
                            <button class="dd-filter__wrp-list-el select-value">
                                площади
                            </button>
                        </div>
                    </div>
                </li>
                <li class="dd-container dd-filter desktop">
                    <input class="dd-target select-input dd-filter__target" type="text"
                        readonly="" value="цене">
                    <div class="dd-filter__wrp">
                        <div class="dd-filter__wrp-list">

                            <button class="dd-filter__wrp-list-el select-value _checked">
                                кол-во комнат
                            </button>
                            <button class="dd-filter__wrp-list-el select-value">
                                площади
                            </button>
                        </div>
                    </div>
                </li>
                <li class="dd-container dd-filter ">
                    <input class="dd-target select-input dd-filter__target" type="text"
                        readonly="" value="цене">
                    <div class="dd-filter__wrp">
                        <div class="dd-filter__wrp-list">

                            <button class="dd-filter__wrp-list-el select-value _checked">
                                кол-во комнат
                            </button>
                            <button class="dd-filter__wrp-list-el select-value">
                                площади
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <ul class="catalogItemFirst__list-items">
            <li class="catalogItemFirstCurrent">
                <div class="catalogItemFirstCurrent__img" data-fancybox
                    href="./assets/images/aboutGrid-1.png">
                    <img src="./assets/images/aboutGrid-1.png" alt="">
                </div>

                <div class="catalogItemFirstCurrent__top">
                    <p class="tl2">ttqw eqwe qw eqwe l</p>
                    <span class="txt13 col-grey200 catalogItemFirstCurrent__top-list"><span>1
                            очередь</span> <span>Корпус 2</span>
                        <span>lll КВ 2026</span></span>
                </div>
                <div class="catalogItemFirst__price">
                    <p class="tl3">111111111 <sup>₽</sup></p>
                    <p class="txt16 col-grey200">282 тыс ₽/м <sup>2</sup></p>
                </div>

                <ul class="catalogItem__data-stats txt16">
                    <li class="catalogItem__data-stats-el">
                        <img src="./assets/images/icons/bath.svg" alt="">
                        <span> 322m<sup>2</sup></span>
                    </li>
                    <li class="catalogItem__data-stats-el">
                        <img src="./assets/images/icons/bed.svg" alt="">
                        <span> 322m<sup>2</sup></span>
                    </li>
                    <li class="catalogItem__data-stats-el">
                        <img src="./assets/images/icons/power.svg" alt="">
                        <span> 322m<sup>2</sup></span>
                    </li>
                    <li class="catalogItem__data-stats-el">
                        <img src="./assets/images/icons/floor-rounded.svg" alt="">
                        <span> 1 <span class="col-grey200">/ 43 </span> этаж</span>
                    </li>
                </ul>

                <ul class="catalogItem__data-footer-tag txt13">
                    <li class="catalogItem__data-footer-tag-el">
                        открытая планировка
                    </li>

                </ul>

                <a href="#" class="btn-link _arrow">
                    <span>
                        Подробнее
                    </span>
                </a>

            </li>
        </ul>
        <div class=" catalogItemFirst__list-ctrls txt11">
            <button class="catalogItemFirst__list-ctrls-loadmore txt-up">
                загрузить еще
            </button>
            <p class="col-grey200">
                показано 3 / 120
            </p>
        </div>
    </div>
</li>