<div class="filters">
    <div class="container">
        <div class="filters__top">

            <button class="filters__top-close mobile tl2 filter-opener">
                    закрыть
            </button>
        </div>
        <ul class="filters__c">
            <li class="filters__c-el">
                <span class="txt13 col-grey200 txt-up filters__c-el-name">название</span>
                <div class="dd-container dd-absolute">
                  
                        <label class="dd-absolute__target dd-target">
                            <input class=" select-input dd-absolute__target" type="text" readonly=""
                                value="default value">
                        </label>

                        <div class="dd-absolute__wrp">
                            <div class="dd-absolute__wrp-list">
                                <button class="dd-absolute__wrp-list-el select-value _checked">
                                    val-1
                                </button>
                                <button class="dd-absolute__wrp-list-el select-value">
                                   Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </button>
                                <button class="dd-absolute__wrp-list-el select-value">
                                    val-2
                                </button>
                                <button class="dd-absolute__wrp-list-el select-value">
                                    val-3
                                </button>
                            </div>
                        </div>
                   
                </div>
            </li>
            <li class="filters__c-el">
                <span class="txt13 col-grey200 txt-up filters__c-el-name">название</span>
                <div class="dd-container dd-absolute">
                  
                        <label class="dd-absolute__target dd-target">
                            <input class=" select-input dd-absolute__target" type="text" readonly=""
                                value="default value">
                        </label>

                        <div class="dd-absolute__wrp">
                            <div class="dd-absolute__wrp-list">
                                <button class="dd-absolute__wrp-list-el select-value _checked">
                                    val-1
                                </button>
                                <button class="dd-absolute__wrp-list-el select-value">
                                    val-2
                                </button>
                                <button class="dd-absolute__wrp-list-el select-value">
                                    val-2
                                </button>
                                <button class="dd-absolute__wrp-list-el select-value">
                                    val-3
                                </button>
                            </div>
                        </div>
                   
                </div>
            </li>

            <li class="filters__c-el">
                <div class="nouislider _black">
                    <p class="txt13 col-grey200 txt-up filters__c-el-name">от</p>
                    <p class="txt13 col-grey200 txt-up filters__c-el-name">до</p>
                    <input class="nouislider__min" type="number" min="200" value="200" readonly="">
                    <input class="nouislider__max" type="number" max="200000" value="200000" readonly="">
                    <div class="nouislider__place">

                    </div>
                </div>
            </li>
            <li class="filters__c-el">
                <div class="nouislider ">
                    <p class="txt13 col-grey200 txt-up filters__c-el-name">такой же</p>
                    <p class="txt13 col-grey200 txt-up filters__c-el-name">но не черный</p>
                    <input class="nouislider__min" type="number" min="200" value="200" readonly="">
                    <input class="nouislider__max" type="number" max="200000" value="200000" readonly="">
                    <div class="nouislider__place">

                    </div>
                </div>
            </li>
            <li class="filters__c-el">
                <span class="txt13 col-grey200 txt-up filters__c-el-name">количество комнат</span>
                <div class="filters__c-el-list txt-up txt16">
                    <label class="filters__c-el-list-radio">
                        <input value="any-val" type="radio" name="filterRoom">
                        <span class="filters__c-el-list-radio-btn">c</span>
                    </label>
                    <label class="filters__c-el-list-radio">
                        <input value="any-val" type="radio" name="filterRoom">
                        <span class="filters__c-el-list-radio-btn">1</span>
                    </label>
                    <label class="filters__c-el-list-radio">
                        <input value="any-val" checked type="radio" name="filterRoom">
                        <span class="filters__c-el-list-radio-btn">2</span>
                    </label>
                    <label class="filters__c-el-list-radio">
                        <input value="any-val" type="radio" name="filterRoom">
                        <span class="filters__c-el-list-radio-btn">3</span>
                    </label>
                    <label class="filters__c-el-list-radio">
                        <input value="any-val" type="radio" name="filterRoom">
                        <span class="filters__c-el-list-radio-btn">4+</span>
                    </label>
                </div>
            </li>
            <li class="filters__c-el">
                <span class="txt13 col-grey200 txt-up filters__c-el-name">готовность</span>
                <div class="filters__c-el-list txt-up txt16">
                    <label class="form-input-container">
                        <input type="radio" name="checkbox"  checked>
                        <span class="form-input-container__text">
                           сдан
                        </span>
                        <span class="form-input-error"></span>
                    </label>
                    <label class="form-input-container">
                        <input type="radio" name="checkbox" >
                        <span class="form-input-container__text">
                            2025
                        </span>
                        <span class="form-input-error"></span>
                    </label> <label class="form-input-container">
                        <input type="radio" name="checkbox" >
                        <span class="form-input-container__text">
                            2026
                        </span>
                        <span class="form-input-error"></span>
                    </label> <label class="form-input-container">
                        <input type="radio" name="checkbox" >
                        <span class="form-input-container__text">
                            2027
                        </span>
                        <span class="form-input-error"></span>
                    </label>
                </div>
            </li>
        </ul>
        <div class="filters__footer">

            <button class="btn-primary  filter-opener">
                <span class="btn-primary__text">
                    показать
                </span>
                <span class="btn-primary__text">
                    варианты
                </span>
                <span class="btn-primary__icon _down">
                </span>
            </button>

        </div>
    </div>
</div>