<header class="header ">
    <div class="container header__c">
        <div class="header__c-logo">
            <img src="./assets/images/icons/logo.svg" alt="">
        </div>

        <a href="#" class="header__c-filter btn-primary desktop">
            <span class="btn-primary__text">
                выбрать
            </span>
            <span class="btn-primary__text">
                недвижимость
            </span>
            <span class="btn-primary__icon _filter">
            </span>
        </a>

        <a href="tel:+288" class="btn-primary header__c-phone">
            <span class="btn-primary__text desktop">
                +7 812
            </span>
            <span class="btn-primary__text desktop">
                270 7652
            </span>
            <span class="mobile header__c-phone-img">

            </span>

        </a>

        <button class="header__c-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>

    </div>
</header>



<!-- 
 <nav>
            <ul itemscope="" itemtype="https://schema.org/SiteNavigationElement">
                <meta itemprop="about" itemscope="" itemtype="http://schema.org/ItemList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                    <a itemprop="url" href="#">новинки</a>
                    <meta itemprop="name" content="новинки">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ItemList">
                    <a itemprop="url" href="#">каталог</a>
                    <meta itemprop="name" content="каталог">
                </li>
            </ul>
        </nav>
-->