<div class="container mainSlider__c">
    <div class="mainSlider__c-left">
        <div class="gsap-translate-y">
            <p class="tl1">ttl</p>
            <p class="txt20">place</p>
        </div>
        <button class="btn-circle desktop gsap-translate-y">
            <span class="btn-circle__text _arrow">о проекте</span>
        </button>

        <button class="mainSlider__c-left-map desktop gsap-translate-y" data-modal="map" data-mapx="47.204572074287015"
        data-mapy="39.67028549999995" data-map-ttl="это тайтл для модалки" data-map-adr="а это адрес">
        </button>
    </div>
    <div class="swiper mainSlider__c-middle ">
        <ul class="swiper-wrapper">
            <li class="swiper-slide gsap-img">
                <img src="./assets/images/aboutGrid-1.png" alt="">
            </li>
            <li class="swiper-slide">
                <img src="./assets/images/aboutGrid-2.png" alt="">
            </li>
            <li class="swiper-slide">
                <img src="./assets/images/aboutGrid-3.png" alt="">
            </li>
            <li class="swiper-slide">
                <img src="./assets/images/aboutGrid-4.png" alt="">
            </li>
        </ul>
    </div>

    <div class="mainSlider__c-ctrls gsap-opacity" data-gsap-delay="0.5">
        <div class="swiper-pag _fraction"></div>
        <div class="swiper-nav">
            <button class="swiper-btn swiper-btn-prev"></button>
            <button class="swiper-btn swiper-btn-next"></button>
        </div>
    </div>

    <div class="mainSlider__c-data gsap-translate-y">
        <div class="swiper mainSlider__c-data-img desktop">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="./assets/images/aboutGrid-1.png" alt="">
                </li>
                <li class="swiper-slide">
                    <img src="./assets/images/aboutGrid-2.png" alt="">
                </li>
                <li class="swiper-slide">
                    <img src="./assets/images/aboutGrid-3.png" alt="">
                </li>
                <li class="swiper-slide">
                    <img src="./assets/images/aboutGrid-4.png" alt="">
                </li>
            </ul>
        </div>
        <div class="mainSlider__c-data-text">
            <ul class="mainSlider__c-data-text-tags txt11 col-grey200">
                <li class="mainSlider__c-data-text-tags-el">
                    <span>1000</span>
                    <span>квартир</span>
                </li>
                <li class="mainSlider__c-data-text-tags-el">
                    <span>1000</span>
                    <span>квартир</span>
                </li>
                <li class="mainSlider__c-data-text-tags-el">
                    <span>1000</span>
                    <span>квартир</span>
                </li>
            </ul>
            <p class="tl3">Lorem ipsum dolor sit amet.</p>

            <a class="btn-link _arrow mobile">
                <span>
                    btn-link
                </span>
            </a>

            <a href="" class="btn-primary ">
                <span class="btn-primary__text">
                    выбрать
                </span>
                <span class="btn-primary__text">
                    недвижимость
                </span>
                <span class="btn-primary__icon _arrow">
                </span>
            </a>

        </div>
    </div>
</div>