<section class="recomendation">
    <div class="container recomendation__c">
        <div class=" recomendation__c-top">
            <p class="tl1 ">Вам может понравиться</p>
        </div>
        <ul class="recomendation__c-swiper">
            <li class=" recomendation__c-swiper-slide">

                <div class="recomendation__c-swiper-slide-img">
                    <img src="../assets/images/catalog-detail-1.png" alt="">
                </div>

                <div class="recomendation__c-swiper-slide-top">
                    <div class="recomendation__c-swiper-slide-top-el">
                        <p class="tl3">name name</p>
                        <p class="txt16 col-grey200">text</p>
                    </div>
                    <div class="recomendation__c-swiper-slide-top-el">
                        <p class="tl3">999 999 999 <sup>₽</sup></p>
                        <p class="txt16 col-grey200">423 тыс ₽ /m<sup>2</sup></p>
                    </div>
                </div>

                <ul class="recomendation__c-swiper-slide-stats">
                    <li class="recomendation__c-swiper-slide-stats-el">
                        <img src="./assets/images/icons/area.svg" alt="">
                        <span class="txt16"> 1488 m<sup>2</sup></span>
                    </li>
                    <li class="recomendation__c-swiper-slide-stats-el">
                        <img src="./assets/images/icons/bed.svg" alt="">
                        <span class="txt16"> 2 спальни</span>
                    </li>
                    <li class="recomendation__c-swiper-slide-stats-el">
                        <img src="./assets/images/icons/bath.svg" alt="">
                        <span class="txt16"> 3 санузла</span>
                    </li>
                    <li class="recomendation__c-swiper-slide-stats-el">
                        <img src="./assets/images/icons/floor-rounded.svg" alt="">
                        <span class="txt16"> 11 <span class="col-grey200">/ 24</span> этаж</span>
                    </li>
                </ul>

                <ul class="ui-tags">
                    <li class="ui-tag">
                        tag name
                    </li>
                </ul>

                <a href="#" class="btn-link _arrow">
                    <span>
                        Подробнее
                    </span>
                </a>

            </li>
            <li class=" recomendation__c-swiper-slide">

                <div class="recomendation__c-swiper-slide-img">
                    <img src="../assets/images/catalog-detail-1.png" alt="">
                </div>

                <div class="recomendation__c-swiper-slide-top">
                    <div class="recomendation__c-swiper-slide-top-el">
                        <p class="tl3">name name</p>
                        <p class="txt16 col-grey200">text</p>
                    </div>
                    <div class="recomendation__c-swiper-slide-top-el">
                        <p class="tl3">999 999 999 <sup>₽</sup></p>
                        <p class="txt16 col-grey200">423 тыс ₽ /m<sup>2</sup></p>
                    </div>
                </div>

                <ul class="recomendation__c-swiper-slide-stats">
                    <li class="recomendation__c-swiper-slide-stats-el">
                        <img src="./assets/images/icons/area.svg" alt="">
                        <span class="txt16"> 1488 m<sup>2</sup></span>
                    </li>
                    <li class="recomendation__c-swiper-slide-stats-el">
                        <img src="./assets/images/icons/bed.svg" alt="">
                        <span class="txt16"> 2 спальни</span>
                    </li>
                    <li class="recomendation__c-swiper-slide-stats-el">
                        <img src="./assets/images/icons/bath.svg" alt="">
                        <span class="txt16"> 3 санузла</span>
                    </li>
                    <li class="recomendation__c-swiper-slide-stats-el">
                        <img src="./assets/images/icons/floor-rounded.svg" alt="">
                        <span class="txt16"> 11 <span class="col-grey200">/ 24</span> этаж</span>
                    </li>
                </ul>

                <ul class="ui-tags">
                    <li class="ui-tag">
                        tag name
                    </li>
                </ul>

                <a href="#" class="btn-link _arrow">
                    <span>
                        Подробнее
                    </span>
                </a>

            </li>
        </ul>

        <div class="recomendation__c-footer">

            <button class="btn-primary ">
                <span class="btn-primary__text">
                    показать
                </span>
                <span class="btn-primary__text">
                    больше
                </span>
                <span class="btn-primary__icon _down">
                </span>
            </button>
        </div>

    </div>
</section>