<section class="requestForm">
    <div class="container requestForm__c">
        <div class="requestForm__c-top">
            <ul class="requestForm__c-top-imgs">
                <li class="requestForm__c-top-imgs-el">
                    <img src="./assets/images/requestForm-1.png" alt="">
                </li>
                <li class="requestForm__c-top-imgs-el">
                    <img src="./assets/images/requestForm-2.png" alt="">
                </li>
                <li class="requestForm__c-top-imgs-el">
                    <img src="./assets/images/requestForm-3.png" alt="">
                </li>
            </ul>
            <p class="col-orange txt11 txt-up">Расположение, фотографии, планировка и цена в нашем буклете</p>
            <p class="tl1">
                Скачайте материалы проекта <br class="desktop"/>
                жилого комплекса Куинджи
            </p>
        </div>
        <form class="form requestForm__c-form">
            <p class="txt20 requestForm__c-form-text">
                Укажите свои контакты <br/>
                и скачайте буклет <br/>
                <span class="col-orange">
                    в 1 клик
                </span>
            </p>

            <label class="form-input-container">
                <input type="text" name="name" required="" placeholder="Ваше имя">
                <span class="form-input-error">error</span>
            </label>

            <label class="form-input-container">
                <input type="text" name="phone" required="" placeholder="+7 (___) ___-__-__">
                <span class="form-input-error">error</span>
            </label>

            <p class="txt13 col-grey200 requestForm__c-form-msg">Отправляя форму, вы принимаете <a class="ui-link col-orange" href="#">пользовательское соглашение</a></p>

            <div class="requestForm__c-form-btns">
                <button class="btn-circle desktop form-submit">
                    <span class="btn-circle__text _download">
                        скачать <br />
                        буклет
                    </span>
                </button>

                <button class="btn-primary mobile form-submit">
                    <span class="btn-primary__text">
                        Скачать
                    </span>
                    <span class="btn-primary__text">
                        буклет
                    </span>
                    <span class="btn-primary__icon _download">
                    </span>
                </button>
            </div>

        </form>
    </div>
</section>